<!DOCTYPE html>
<html>
<head>
	<title>Search</title>
</head>
<body>
	<h1>this is the search page</h1>
	  <form action="/search" method="POST">
		<input type="text" name="first_letter" placeholder="First Letter"></input>
		<button type="submit">Search</button>
	  </form>
</body>
</html>